<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="NG_Default" value="http://photography.nationalgeographic.com/photography/photo-of-the-day"/>
        <add key="NG_Animals" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/animals/"/>
        <add key="NG_Adventure" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/adventure-exploration/"/>
        <add key="NG_History" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/history/"/>
        <add key="NG_BlackAndWhite" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/black-white/"/>
        <add key="NG_Landscapes" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/landscapes/"/>
        <add key="NG_Nature" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/nature-weather/"/>
        <add key="NG_People" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/people-culture/"/>
        <add key="NG_Science" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/science-space/"/>
        <add key="NG_Travel" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/travel/"/>
        <add key="NG_Underwater" value="http://photography.nationalgeographic.com/photography/photo-of-the-day/underwater/"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
