<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DesktopBackgroundChangerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <DesktopBackgroundChangerUI.Properties.Settings>
            <setting name="NG_Default" serializeAs="String">
                <value>http://photography.nationalgeographic.com/photography/photo-of-the-day/</value>
            </setting>
            <setting name="NG_Animals" serializeAs="String">
                <value>animals/</value>
            </setting>
            <setting name="NG_Adventure" serializeAs="String">
                <value>adventure-exploration/</value>
            </setting>
            <setting name="NG_History" serializeAs="String">
                <value>history/</value>
            </setting>
            <setting name="NG_BlackAndWhite" serializeAs="String">
                <value>black-white/</value>
            </setting>
            <setting name="NG_Landscapes" serializeAs="String">
                <value>landscapes/</value>
            </setting>
            <setting name="NG_Nature" serializeAs="String">
                <value>nature-weather/</value>
            </setting>
            <setting name="NG_People" serializeAs="String">
                <value>people-culture/</value>
            </setting>
            <setting name="NG_Science" serializeAs="String">
                <value>science-space/</value>
            </setting>
            <setting name="NG_Travel" serializeAs="String">
                <value>travel/</value>
            </setting>
            <setting name="NG_Underwater" serializeAs="String">
                <value>underwater/</value>
            </setting>
            <setting name="ApplicationWebsite" serializeAs="String">
                <value>http://desktopchanger.codeplex.com/</value>
            </setting>
        </DesktopBackgroundChangerUI.Properties.Settings>
    </userSettings>
</configuration>
